/* Layout*/
header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: start;
}
header nav table{
    display: table;
    align-content: start;
}
div{
    display: flexbox;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
div aside{
    display: flex;   
    flex-direction: column;
    justify-content: safe;
    flex-wrap: nowrap;
    justify-items:center;
    width: 80%;
}

table{
    display: grid;
    grid-template-columns: repeat(3, 12px);
    width: 100%;
}
.contact div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    image-rendering:crisp-edges;
    image-resolution: from image;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
   
.skills{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* Media Queries*/

@media screen and (orientation:portrait) {   
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    header nav table {
        display: table;
        width: 50%;
        gap: 10px;
    }

    table{
        display: table;
        width: 100%;
    }

    div{
        display: flexbox;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    div aside {
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
        flex-wrap: wrap;
    }

    .contact img{
        width: 40%;
    }

    .skills{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (orientation:landscape) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }
    
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }   
     
    div aside{
        aspect-ratio: 4/3;
        display: flex;
        margin: 10px;
        align-items: end;
        justify-items: last baseline;
        align-content: end;
        flex-wrap: nowrap;
        display: flex;
        justify-items: last baseline;
        align-items: last baseline;
        flex-wrap: nowrap;
    }

    .skills{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    }

 /*layout.css 
*/